<!--<div class="m-2 d-flex justify-content-center">-->
    <!--<form class="form-inline my-2 my-lg-0 badge-dark badge p-2 "  action="/post" method="get">-->
        <!--<input class="form-control mr-sm-2" type="search" placeholder="عبارت دلخواه را تایپ کنید" aria-label="Search">-->
        <!--<button class="btn-dark btn " type="submit">جست و جو</button>-->
    <!--</form>-->

<!--</div>-->
<div class="row">
    <!-- Blog Post Content Column -->
    <div class="col-lg-12  ">
        <div class="col-12 col-md-12  mb-3 text-center ">
             <img class=" shadow-lg singleImageSize " src="<%= course.thumb %>" alt="<%= course.title%>">
        </div>
            <!-- Title -->
            <h1 class="mb-3 text-center font-weight-bold"><%= course.title %></h1>

            <!-- Author -->
        <div class="  text-center">
            <!--<span> توسط <a href="#"><%= course.user.name %></a></span>-->
            <!-- - -->
            <span class="badge-danger p-1 text-center"> <%= date(course.createdAt).format('jD jMMMM jYYYY') %></span> - <span class="badge-secondary p-1"><%= course.timeline %></span>
            <hr>
            <div > <h5 class="p-1 text-center ">  نویسنده مطلب : <%= course.author %></h5>
            </div>
        </div>

            <hr>
            <!-- Post Content -->
           <div id="content">
             <p class=""><%- course.body %></p>
           </div>
            <!--<hr>-->


        <hr>
            <div class="d-none d-sm-block">
                <span class="" >تگ ها : </span> <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="" class="btn btn-secondary "><%= course.tags%></button>

                </div>

            </div>
        <div class="row m-3">
            <div class="d-inline p-2 bg-dark text-white  m-3">
                <h3>مطالب پیشنهادی</h3>
            </div>
        </div>
     <%/*%>   <div class="row">
            <% lastcourses.forEach(course => { %>
            <div class="col-12 col-md-3 mb-3 ">
                <div class="card">
                    <a href="<%= course.path() %>">
                            <img class="card-img-top cardHeight" src="<%= course.thumb %>" alt="<%= course.title %>">
                        </a>

                    <div class="card-body">
                        <h5 class=" p-1"><a class="text-dark text-decoration-none" href="<%= course.path() %>"><%= course.title %></a></h5>
                        <p class="card-text"><small><%- course.body.substr(0,80) %>...</small></p>
                        <!--<div class=" ">-->
                        <!--<a href="<%= course.path() %>" class="btn btn-info btn-sm cen">اطلاعات بیشتر</a>-->

                        <!--</div>-->
                    </div>
                    <!--<div class="card-footer text-muted">-->
                    <!--<span>ارسال شده در <%= date(course.createdAt).format('jD jMMMM jYYYY') %></span>-->
                    <!--&lt;!&ndash;<%= course.viewCount %> بازدید&ndash;&gt;-->
                    <!--</div>-->
                </div>
            </div>
            <% }) %>
        </div>  <%*/%>



    </div>
</div>

<div class="row ">
    <% courses.forEach(course => { %>
    <div class="col-12 col-md-3  mb-4 ">
        <div class="card shadow heightCart ">
            <a href="<%= course.path() %>">

                <img class="card-img-top cardHeight" src="<%= course.thumb %>" alt="<%= course.title %>">
            </a>

            <div class="card-body">
                <h6 class="p-1"><a class="text-dark text-decoration-none" href="<%= course.path() %>"><%= course.title %></a></h6>
                <p class="card-text"><%- course.sum.substr(0,130)%>...</p>
                <%/*%> <a href="<%= course.path() %>" class="btn btn-info btn-sm cen">اطلاعات بیشتر</a> <%*/%>


            </div>
            <div class="card-footer text-muted alert-secondary sidebar-heading">
                <span class="badge-danger p-1"> <%= date(course.createdAt).format('jD jMMMM jYYYY') %></span> - <span class="badge-secondary p-1"><%= course.timeline %></span>

            </div>
        </div>
    </div>
    <% }) %>
</div>

<!-- Categories Widget -->
<div class="card my-5 col-md-4 badge-dark">
    <h5 class="card-header">دسته بندی ها</h5>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <ul class="list pr-0">
                    <% categories.forEach(category => { %>
                    <li>
                        <a class="text-white badge-secondary" href="/post?category=<%= category.slug %>"><%= category.name %></a>
                        <% if(category.childs) { %>
                        <ul class="p-1">
                            <% category.childs.forEach(cate => { %>
                            <li>
                                <a class="text-white " href="/post?category=<%= cate.slug %>"><%= cate.name %></a>
                            </li>
                            <% }) %>
                        </ul>
                        <% } %>
                    </li>
                    <% }) %>
                </ul>
            </div>
        </div>
    </div>
</div>






